<script setup>
import { ref, computed } from 'vue'
import QrcodeVue from 'qrcode.vue'

const products = ref([
]);

defineProps({
  msg: String,
})

const showQR = ref(null)

const serverHello = ref({})

const cart = ref([])

const email = ref(null)
const name = ref(null)

function add(product) {
  cart.value.push(product)
}
function remove(product) {
  cart.value.splice(cart.value.indexOf(product), 1);;
}
function clear() {
  showQR.value = null;
  cart.value.splice(0, cart.value.length)
  email.value = null;
  name.value = null;
}
function pay() {
  fetch('/api/v1/pay',{
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ products:cart.value, email: email.value, name: name.value })
    })
    .then((r) => r.json())
    .then(({ status, url }) => {
      if (status == 200) {
        //alert(url)
        //window.open(url, '_blank');
        //clear();
        showQR.value = url;
      }
    })
}
function share() {
  if (navigator.share) {
    navigator.share({
      title: `Please pay € ${total.value} using this payment link`,
      url: showQR.value
    }).then(() => {
      
    })
    .catch(console.error);
  } else {
    // fallback
  }
}

const total = computed(() => {
  let t = 0;
  for (let c of cart.value) {
    t += c.price;
  }
  return t;
})


fetch('/products.json',{
  method: "GET"
})
.then((r) => r.json())
.then((data) => {
  // (status == 200) {
    products.value = data.products;
  //}
})



</script>

<template>
<div>
<div class="store" v-if="!showQR">


<div class="products">
 <button v-for="product in products" @click="add(product)" :style="{'background-color': product.color||'white'}">{{product.name}} (€{{product.price.toFixed(2)}})</button>
</div>

 <ul class="cart">
 <li v-for="(item,index) in cart" :key="index">{{item.name}} (€{{item.price.toFixed(2)}}) <button @click="remove(item)" class="small">X</button></li>
  <li class="total">Total: € {{total.toFixed(2)}}</li>
 </ul>
<div>
  <input type="text" v-model="name" placeholder="incoice name" >
</div>
<div>
  <input type="text" v-model="email" placeholder="incoice email address" >
</div>
<button class="pay" @click="pay()">PAY</button>

<button class="clear" @click="clear()">Clear</button>
</div>
<div class="qr" v-if="showQR">
  <div class="qrcode"><qrcode-vue  :value="showQR" size="300" level="H" ></qrcode-vue></div>
  <button class="share" @click="share()">Share</button>
  <button class="clear" @click="clear()">Close</button>
</div>
</div>
</template>

<style scoped>
.store {

}
.products{
} 
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.pay{
  margin-top: 10px;
}
button {
  display: block;
  width: 100%;
  margin-bottom:10px;
  padding: 10px;
  font-weight:bold;
  color: #333333;
}
ul.cart {
  padding:0;
}
.cart li {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 50px;
}
.cart li button {
  float: right;
}
.cart li.total {
  font-weight: bold;
  border-top: solid 1px black;
}
button.small {
  height: 40px;
  width: 40px;
}
button.pay {
  background-color: #A2FFAB;
}
button.clear {
  margin-top: 40px;
}
button.share {
  background-color: #A2E6FF;
}
.qr {
  width: 100%;
}
.qrcode {
  width: 300px;
  height: 300px;
  margin: 100px auto 80px auto;
  
}
</style>
